doctype html
html
	head
		title Login page
		link(rel='stylesheet', href='/style.css', type='text/css')
	body
		div.container
			h1 Welcome to the login page
			a(href='/auth/google' ): button(type="button") Sign in with Google